{{ form_row(form.username) }}
{{ form_row(form.password) }}
{{ form_row(form.email) }}
{{ form_row(form.admin) }}

<div class="form-actions">
    <button type="submit" class="btn btn-primary d-flex">
        <i class="fa {{ buttonIcon }} align-self-center button-icon"></i>{{ action }}</button>
</div>
