<nav class="nav">
    <a class="nav-logo" href="{{ path('dashboard') }}">
        <img src="{{ asset('img/todologo_compact.png') }}" height="60" class="d-inline-block align-center" alt="Logo d'Openclassrooms">
    </a>

    <button class="nav-bars" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>

    <section class="nav-menu">
        <div class="nav-list-container" id="navbarNavDropdown">
            <ul class="nav-list">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard') }}">Tableau de Bord<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('list_tasks') }}">Tâches</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('list_users') }}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link nav-log-action btn">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('register') }}" class="nav-link nav-register-action btn">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link nav-log-action btn">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
</nav>

