{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block text_widget %}
    <input class="form-control" {{ form.vars.required ? 'required' }} id="{{ form.vars.id }}"{% if value is not empty %}value="{{ value }}" {% endif %} name="{{ form.vars.full_name }}"/>
{% endblock %}

{% block password_widget %}
    {{ block('text_widget') }}
{% endblock %}

{% block email_widget %}
    {{ block('text_widget') }}
{% endblock %}

{% block textarea_widget %}
    {{ block('text_widget') }}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% if compound %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                {% for error in errors %}
                    <div class="alert-danger" role="alert">
                        <li class="px-3 py-2">{{ error.message }}</li>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block login_form %}
    <form method="post" class="custom-form login-form">
        <div class="form-group">
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" id="inputUsername" required autofocus class="form-control" name="username" value="{{ last_username }}" aria-describedby="loginDetailsHelp" placeholder="johndoe@example.com"/>
        </div>
        <div class="form-group">
            <label for="inputPassword">Mot de passe :</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-success" name="login">Se connecter</button>
    </form>
{% endblock %}
