{% extends 'base.html.twig' %}

{% block cssLink %}
    <link href="{{ asset('css/task_list.css') }}" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between list-header">
        <h1 class="page-title">Liste des tâches</h1>
        <a href="{{ path('create_task') }}" class="btn btn-primary-open align-self-center d-flex"><i class="fa fa-plus button-icon"></i>Ajouter une tâche</a>
    </div>
    <div class="d-flex mb-5 dropdown align-items-center mt-4">
        <button class="btn filter-btn d-flex" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtrer <i class="fa fa-chevron-down filter-button-icon button-icon ml-4"></i>
        </button>
        <div class="dropdown-menu filter-dropdown-menu" aria-labelledby="filterMenu">
            <a href="{{ path('list_tasks', {'filter': 'starred' }) }}" class="dropdown-item">Tâches prioritaires</a>
            <a href="{{ path('list_tasks', {'filter': 'in-progress' }) }}" class="dropdown-item">Tâches ouvertes</a>
            <a href="{{ path('list_tasks', {'filter': 'completed'}) }}" class="dropdown-item">Tâches terminées</a>
        </div>
        {% if filter == 'starred' %}
            {% set activatedFilter = 'Tâches prioritaires' %}
        {% elseif filter == 'in-progress' %}
            {% set activatedFilter = 'Tâches ouvertes' %}
        {% elseif filter == 'completed' %}
            {% set activatedFilter = 'Tâches terminées' %}
        {% endif %}

        {% if activatedFilter is defined %}
            <span class="filter-tag ml-m-4">{{ activatedFilter }}</span>
        {% endif %}
    </div>

    <a href="{{ path('list_tasks') }}" class="btn card-action pl-0 mb-4">Réinitialiser les filtres</a>
    <div class="row">
        {% for task in tasks %}
            {% include 'task/partials/task_card.html.twig' with {'task' : task} %}
        {% else %}
            {% include 'task/partials/no_task_message.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
